@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  img {
    width: 100%;
  }
  .team {
    padding: 120px 0;
  }
  .team-images {
    width: calc((100%-72px) / 4);
  }
}
