@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .address-nav .mail,
  .address-nav .tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
  }
  .address-nav {
    flex-direction: unset;
  }
  .hero-title {
    width: 496px;
  }

  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;

    height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk-1x-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk-2x-min.jpg);
    }
  }

  .actions-container {
    padding: 120px 0;
  }
  .action-card {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--background-color);
    border-radius: 4px;
  }
  .actions {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .action:not(:last-child) {
    margin-bottom: 0;
  }
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
  }
  .text-action {
    font-weight: 400;
  }
  .wawd-section {
    padding-bottom: 120px;
  }
  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    list-style: none;
  }
  .section-images {
    flex-basis: calc((100% - 48px) / 3);
  }
  .images {
    display: flex;
    margin-right: 24px;
  }
  .team-members {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .container-team {
    max-width: 1156px;
    width: 100%;
  }
  .customers {
    max-width: 1158px;
    width: 100%;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers-item {
    width: 168px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
  }
  .footer .container {
    flex-wrap: nowrap;
    width: 1158px;
    padding-right: 0;
  }
  .footer-container {
    margin-bottom: 0;
  }
  .footer-media {
    margin-left: 120px;
    margin-bottom: 0;
  }
  .section-subscribe {
    margin-left: 80px;
  }
}
