@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  /* .team {
    padding: 96px 82px;
  } */
}
@media screen and (max-width: 768px) {
  .address {
    display: none;
  }
  .site-nav {
    display: none;
  }
}
