@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  img {
    width: 100%;
  }
  .team {
    padding: 96px 108px;
  }
  .team-images {
    width: calc((100%-24px) / 2);
  }
}
