@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  img {
    width: 100%;
  }
  .nav {
    padding-top: 16px;
    padding-bottom: 0;
  }
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu-link {
    display: flex;
  }
  .logo {
    margin-right: 0;
  }
  .decor {
    margin-right: 0;
  }
  .link {
    position: relative;
  }
  .site-nav {
    display: flex;
    gap: 40px;
    margin-left: 120px;
    margin-right: 120px;
  }
  .site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--hover-color);
  }
  .site-nav .link.current {
    color: var(--hover-color);
  }
  .site-nav .link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 44px;
  }
  .address {
    margin-left: auto;
    display: flex;
    padding-bottom: 16px;
  }
  .address-nav {
    display: flex;
    flex-direction: column;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-nav .mail,
  .address-nav .tel {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
  }
  .address-nav :hover,
  .address-nav :focus {
    color: var(--hover-color);
  }

  .hero-title {
    width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab-1x-min.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x-min.jpg);
    }
  }
  .section-title {
    text-align: left;
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
  }

  .action {
    flex-basis: calc((100% - 24px) / 2);
  }
  .container-team {
    max-width: 582px;
    width: 100%;
  }
  .team-members {
    flex-direction: row;
    gap: 64px 24px;
  }
  .team-images {
    width: calc((100% - 24px) / 2);
  }

  .customers {
    width: 582px;
    max-width: 100%;
    margin: 0 auto;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 565px;
  }
  .container-footer {
    align-items: flex-start;
  }

  .footer-media {
    margin-left: 24px;
  }
  .subscribe-input {
    width: 264px;
    margin-right: 24px;
  }
  .subscribe-form {
    display: inline-block;
  }
  .subscribe-button {
    display: inline-block;
  }
  .subscribe-icon {
    margin-left: 16px;
  }
}
